*{
    padding: 10;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
    
}
header{
    background: rgb(5, 184, 14);
    width: 100%;
    clear: both;
    height: auto;
    content: " ";
    display: inline-block;
  
}

img{
    width: 100px;
    padding: 5px;
    float:left ;
}

.menu{
    width: 900px;
    margin: 0 auto;
}
nav{
        float: center;
}

nav ul li{
    list-style: none;
    margin-left: 60px;
    padding: 5px;
    float: left;
    position: relative;
}
nav li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

nav li a:hover{
    color: rgb(8, 8, 105);
    
}



h1{
    font-size: 48px;
    text-align: center;
}

.contacto{
    font-size: 32px;
    text-align: center;
}

.localfont{
    font-family: 'Bebas Neue', sans-serif;;
    font-size: 22px;
    text-align: center;
}

.telefono{
    color: darkgreen;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;;
    text-align: center;
}

/* bebas-neue-regular - latin */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bebas-neue-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/bebas-neue-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bebas-neue-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bebas-neue-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bebas-neue-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bebas-neue-v2-latin-regular.svg#BebasNeue') format('svg'); /* Legacy iOS */
  }