*{
    padding: 10;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
    
}
header{
    background: rgb(5, 184, 14);
    width: 100%;
    clear: both;
    height: auto;
    content: " ";
    display: inline-block;
  
}

img{
    width: 100px;
    padding: 5px;
    float:left ;
}

.menu{
    width: 900px;
    margin: 0 auto;
}
nav{
        float: center;
}

nav ul li{
    list-style: none;
    margin-left: 60px;
    padding: 5px;
    float: left;
    position: relative;
}
nav li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

nav li a:hover{
    color: rgb(8, 8, 105);
    
}


.lista{
    font-size: 28px;
    text-align: center;
}
h1{
    font-size: 32px;
    text-align: center;
}

p{
   font-size: 23px;
   text-align: center;
   
}

.nombrecolor {
    color:navy;

}
.rgbcolor{ 
    color: rgb(43, 119, 124);
}

.hexacolor{
    color: #d108d8
}

.marcacolor{
    color: rgb(102, 51, 204);
}

span{
    font-size: 20;
    color: red;
    font-weight: 800;
}